<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>UPC</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock Level</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in ProductList)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.UPC</td>
                <td>@product.Description</td>
                <td>@product.CategoryName</td>
                <td>@product.Price</td>
                <td>@product.QuantityInStock</td>
                <td>
                    <button type="button" class="btn btn-primary" @onclick="@(() => ViewMarkdownPlans(product.ProductId))">Markdown Plans</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" @onclick="@(() => ViewSalesAnalysis(product.ProductId))">Sales Analysis</button>
                </td>
            </tr>
        }
    </tbody>
</table>